<script type="text/ng-template" id="home.html">
    <section>
        <h1 ng-bind="text"></h1>
        <p>
            <md-button class="md-primary md-raised">Button</md-button>
        </p>
    </section>
</script>