<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl" ng-cloak>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title ng-bind="pageTitle">ASP.NET Angular Material Template</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/lib/angular-material/angular-material.css"/>
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css"
                  asp-fallback-href="~/lib/angular-material/angular-material.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>

        <div layout="row">
            <div flex></div>
            <div flex-sm="100" flex-md="80" flex-gt-md="50" class="page-content md-whiteframe-8dp">
                @RenderBody()
            </div>
            <div flex></div>
        </div>
        

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
            <script src="~/lib/angular-animate/angular-animate.js"></script>
            <script src="~/lib/angular-aria/angular-aria.js"></script>
            <script src="~/lib/angular-messages/angular-messages.js"></script>
            <script src="~/lib/angular-material/angular-material.js"></script>
            <script src="~/js/modules/home.js" asp-append-version="true"></script>
            <script src="~/js/modules/user-menu.js" asp-append-version="true"></script>
            <script src="~/js/modules/api.js" asp-append-version="true"></script>
            <script src="~/js/modules/facility.js" asp-append-version="true"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"
                    asp-fallback-src="~/lib/angular/angular.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"
                    asp-fallback-src="~/lib/angular-animate/angular-animate.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"
                    asp-fallback-src="~/lib/angular-aria/angular-aria.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"
                    asp-fallback-src="~/lib/angular-messages/angular-messages.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"
                    asp-fallback-src="~/lib/angular-material/angular-material.min.js"
                    asp-fallback-test="window.angular">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
